VDIFORGE_IMAGE_NAME={{ vdiforge_image_name }}
VDIFORGE_IMAGE_VERSION={{ vdiforge_image_version }}
VDIFORGE_UBUNTU_RELEASE={{ vdiforge_image_ubuntu_release }}
VDIFORGE_SOURCE_CHECKSUM={{ vdiforge_image_source_checksum }}
